In [73]:
from faker import Faker
import pandas as pd
import numpy as np
from datetime import date, timedelta, datetime
import csv
import random
import calendar
from random import randrange

In [1]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:BIDA123@localhost/testingopt')

In [2]:


#5, create worker list
from faker import Faker
import pandas as pd
import numpy as np


num_worker = 20

faker = Faker()
Faker.seed(4321)
np.random.seed(1)

df = []
serial=1
for n in range(20):
    df.append({'worker_id': "W" + str(serial).zfill(3), 'name':faker.name()})
    serial+=1

df = pd.DataFrame(df)
df = df[['worker_id','name']]
df['salaryperhr']= np.random.randint(7,14,20) 

df1 = df[:num_worker]

df1
 
# insert one_time fixed table for all workers to postgresql
df1.to_sql('dropzone_workers_all', engine, if_exists='replace',index=False)\
 
#df1.to_sql('dropzone_workers', engine, if_exists='replace',index=False) # insert table to postgresql

In [3]:
df = pd.read_sql('SELECT * FROM dropzone_workers_all', con = engine)

df.head(20)

   worker_id                   name  salaryperhr
0       W001            Jason Brown           12
1       W002            Jacob Stein           10
2       W003             Cody Brown           11
3       W004          Larry Morales            7
4       W005      Jessica Hendricks            8
5       W006            Brian Moore           10
6       W007            Scott Baker           12
7       W008           Ruth Hoffman            7
8       W009          Daniel George            7
9       W010            David Moody            8
10      W011          Brian Maxwell           11
11      W012            Cory Cooper           12
12      W013          Morgan Foster           11
13      W014         James Sandoval           13
14      W015           Brian Lester            8
15      W016             Anne Davis            9
16      W017  Miss Amanda Harris MD           11
17      W018               Amy Dunn           13
18      W019              Brian Lee           12
19      W020         Kimberly Pratt            9

In [76]:
import pandas as pd
import numpy as np

class Workers:
    def __init__(self,no_of_worker):
        
        df = pd.read_sql('SELECT * FROM dropzone_workers_all', con = engine)  
        self.df = df.head(no_of_worker).to_sql("workers_"+str(no_of_worker)+"",engine, if_exists='replace',index=False)
        
        skus = pd.read_sql('SELECT sku_id, standard_time FROM dropzone_sku', con = engine)
        df2 = pd.read_sql('SELECT * FROM workers_'+str(no_of_worker)+'', con = engine) 
        


        sku_list = skus.values.tolist()
        workers_list = df2['worker_id'].to_list()

        productivity = []

        np.random.seed(1)
        for sku, mins in sku_list:
            for worker in workers_list:
                avg_time = int(np.random.normal(mins,3))
                productivity.append({'sku_id': sku, 'worker': worker, 'avg_time': avg_time})

        df = pd.DataFrame(productivity)
        df.to_sql("dropzone_worker_"+str(no_of_worker)+"_sku_proficiency", engine, if_exists='replace', index=False)
        print(df)

In [77]:
 Workers(10) #generate number of workers

      sku_id worker  avg_time
0     AA0001   W001        41
1     AA0001   W002        35
2     AA0001   W003        35
3     AA0001   W004        33
4     AA0001   W005        39
...      ...    ...       ...
1995  AA0200   W006        35
1996  AA0200   W007        36
1997  AA0200   W008        32
1998  AA0200   W009        36
1999  AA0200   W010        39

[2000 rows x 3 columns]

In [78]:
from datetime import date, timedelta, datetime
import pandas as pd
import numpy as np
import csv
import random
import calendar
from random import randrange


class create_dropzone_batch_order:
    def __init__(self,year,month) :


        self.sdate = datetime(year, month, 1, 0, 1, 22)   # start date
        self.edate = datetime(year, month + 1, 1, 0, 1, 22) - timedelta(days=1)  # end date
        date_modified = self.sdate
        date_in_mth = [self.sdate.strftime("%d/%m/%Y %H:%M:%S")]
        #skus = pd.read_csv('dropzone_sku.csv')
        skus = pd.read_sql('SELECT sku_id FROM dropzone_sku', con = engine)
        ssku = set(skus['sku_id'])
        month_name = calendar.month_name[month]
        # print(self.sdate)
        # print(self.edate)
        while date_modified < self.edate:
            date_modified += timedelta(days=1) 
            date_in_mth.append(date_modified.strftime("%d/%m/%Y %H:%M:%S"))

    # print(date_in_mth, '\n')

    # create orders for each day in month base on Poisson Distribution

            nr_order_daily_list = [np.random.poisson(27) for i in range(30)]

        # print(nr_order_daily_list, '\n')


            order_table = pd.DataFrame(columns = ['date', 'order_id', 'sku_id', 'qty'])
        order_id = 1

        for d, k in zip(date_in_mth, nr_order_daily_list): # k = total orders per day
            #print(d, k)
            for m in range(k):      # each loop will create list of SKUs per order
                nr_sku_per_order = np.random.poisson(5)
                order_sku_list = random.sample(ssku, nr_sku_per_order)
                order_date = datetime.strptime(d, "%d/%m/%Y %H:%M:%S") + \
                timedelta(hours=randrange(24)) + timedelta(minutes=randrange(60))
                for sku in order_sku_list:      # each loop will create qty (pcs) per sku 
                    nr_pcs_per_sku = int(np.random.normal(7,1))     # average 7 pcs per sku, std dev = 1
                    order_table = order_table.append({'date': order_date, \
                    'order_id': 'SO'+str(order_id).zfill(5), 'sku_id': sku, 'qty': nr_pcs_per_sku}, \
                        ignore_index=True)
                    order_id +=1

        # print(order_table)
        # print(month_name)
        #order_table.to_sql("dropzone_order_"+month_name+"_"+str(year)+"",engine,if_exists='replace',index=False)
        

        # Create batch_zone_order 
        #df = pd.read_sql("SELECT * FROM dropzone_order_"+month_name+"_"+str(year)+"", con = engine)

        order_table['date'] = pd.to_datetime(order_table['date'],format="%Y-%m-%d")
        order_table['date_hour'] = pd.DatetimeIndex(order_table['date']).hour


        #create a list of condition for batching
        roundingtime = [
        (order_table['date_hour'] >= 0) & (order_table['date_hour'] < 8 ),
        (order_table['date_hour'] >= 15) & (order_table['date_hour'] < 24 ),
        (order_table['date_hour'] >= 8) & (order_table['date_hour'] < 10 ),
        (order_table['date_hour'] >= 10 ) & (order_table['date_hour'] < 13 ),
        (order_table['date_hour'] >= 13) & (order_table['date_hour'] < 15 )
        ]

        values =[8, 8, 10, 13, 15]
         
        order_table['timestamp'] = np.select(roundingtime,values)

        #create a list of condition for next day 

        nextday = [
        (order_table['date_hour'] >= 15) & (order_table['date_hour'] < 24 ),
        (order_table['date_hour'] >= 0) & (order_table['date_hour'] < 15 )
        ]

        date = [order_table['date'].dt.date + timedelta(days=1),order_table['date'].dt.date]
        order_table['date_1'] = np.select(nextday,date)


        # combine date and time
        order_table['batch_date'] = pd.to_datetime(order_table.date_1) + order_table.timestamp.astype('timedelta64[h]')
        order_table['batch_date'] = pd.to_datetime(order_table['batch_date'], format='%Y-%m-%d %H:%M:%S')
        order_table.sort_values(by=['batch_date'],inplace =True)
        # order_table.reset_index(drop=True, inplace=True)
        # order_table['task_id'] = 1 + order_table.index


        order_table = order_table.drop(['timestamp','date_1','date_hour'], axis=1)
        print(order_table)
        # order_table.to_csv("dropzone_batch_order_table.csv")
        order_table.to_sql("dropzone_batch_order_"+str(month)+'_'+str(year)+"",engine,if_exists='replace',index=False)

        print(month_name, str(year)+ " done")

In [72]:
create_dropzone_batch_order(2021,9) #year,month

                    date order_id  sku_id qty          batch_date
133  2021-09-01 02:30:22  SO00134  AA0085   6 2021-09-01 08:00:00
135  2021-09-01 02:30:22  SO00136  AA0019   8 2021-09-01 08:00:00
134  2021-09-01 02:30:22  SO00135  AA0142   7 2021-09-01 08:00:00
117  2021-09-01 02:44:22  SO00118  AA0186   7 2021-09-01 08:00:00
118  2021-09-01 02:44:22  SO00119  AA0047   7 2021-09-01 08:00:00
...                  ...      ...     ...  ..                 ...
4241 2021-09-30 15:48:22  SO04242  AA0200   8 2021-10-01 08:00:00
4240 2021-09-30 15:48:22  SO04241  AA0191   6 2021-10-01 08:00:00
4238 2021-09-30 15:48:22  SO04239  AA0035   6 2021-10-01 08:00:00
4307 2021-09-30 18:07:22  SO04308  AA0058   6 2021-10-01 08:00:00
4239 2021-09-30 15:48:22  SO04240  AA0065   5 2021-10-01 08:00:00

[4340 rows x 5 columns]
September 2021 done

In [85]:
# 7, breakdown total month orders into daily batches 
# create sku-worker matrix for optimisation assignment

class sku_worker_matrix:
    def __init__(self,no_of_worker,month,year) :

        
        # breakdown total month orders into daily batches 
        # create sku-worker matrix for optimisation assignment


        #workers_df = pd.read_csv("dropzone_worker_sku_proficiency.csv") 
        self.workers_df = pd.read_sql("SELECT * from dropzone_worker_"+str(no_of_worker)+"_sku_proficiency", con = engine)
        #print(self.workers_df.head(), '\n')

        self.batch_df = pd.read_sql('SELECT date, batch_date, sku_id, qty from dropzone_batch_order_'+str(month)+'_'+str(year)+'', con = engine)
        # print(self.batch_df.head(), '\n')

        self.batch_df['date_2'] = pd.DatetimeIndex(self.batch_df['batch_date']).dayofweek
        a=len(self.batch_df) #create len of orders
        self.batch_start_date = datetime(year, month, 1, 7, 0, 0)   # start date
        self.batch_end_date = datetime(year, month, 2 , 8, 0, 0)   # end date

        b = 0
        c = 0 
        

    
       

        while b < a: # if orders added in loop are lesser than total orders
            batch1 = self.batch_df.loc[(self.batch_df['batch_date'] >= self.batch_start_date) & (self.batch_df['batch_date'] < self.batch_end_date) ]
            print(batch1)
            print(batch1['date_2'].iloc[0])
        
        
            if (batch1['date_2'].iloc[-1]) == 1 or (batch1['date_2'].iloc[-1]) == 2 or (batch1['date_2'].iloc[-1]) == 3  : #if during weekday
            

                batch1agg = batch1[['sku_id', 'qty']].groupby(['sku_id'], sort=True).sum()
                print(batch1, '\n')
                print(batch1['date_2'].iloc[-1])
                batch1.to_csv("batch1"+str(self.batch_start_date.strftime("%Y-%m-%d"))+".csv")
   
                productivity1 = self.workers_df.join(batch1agg, on='sku_id', how='left')  # .set_index('sku_id')
                #print(productivity1, '\n')

                productivity1['avg_time_add'] = productivity1['avg_time'] + productivity1['qty'] * 1
                workers_productivity1 = productivity1.pivot(index='worker', columns='sku_id', values='avg_time_add')
                #workers_productivity1.to_csv("dropzone_workers_productivity"+str(self.batch_start_date.strftime("%Y-%m-%d"))+".csv")
                workers_productivity1.to_sql("dropzone_workers_productivity"+str(self.batch_start_date.strftime("%Y-%m-%d"))+"",engine,if_exists='replace',index=False)
                
                self.batch_start_date += timedelta(days=1)
                self.batch_end_date += timedelta(days=1)
 
                print(self.batch_start_date)
                c =len(batch1)
                
                # print(c)
                b += c
                print(b)
               
            #print(workers_productivity1, '\n')

    
            elif (batch1['date_2'].iloc[-1]) == 4 : # if friday, add 3 days to end date to run in next loop 

     
                batch1agg = batch1[['sku_id', 'qty']].groupby(['sku_id'], sort=True).sum()
                print(batch1, '\n')
                print(batch1['date_2'].iloc[-1])
                batch1.to_csv("batch1"+str(self.batch_start_date.strftime("%Y-%m-%d"))+".csv")
            
                productivity1 = self.workers_df.join(batch1agg, on='sku_id', how='left')  # .set_index('sku_id')
                #print(productivity1.head(), '\n')

                productivity1['avg_time_add'] = productivity1['avg_time'] + productivity1['qty'] * 1
                workers_productivity1 = productivity1.pivot(index='worker', columns='sku_id', values='avg_time_add')
                #workers_productivity1.to_csv("dropzone_workers_productivity"+str(self.batch_start_date.strftime("%Y-%m-%d"))+".csv")
                workers_productivity1.to_sql("dropzone_workers_productivity"+str(self.batch_start_date.strftime("%Y-%m-%d"))+"",engine,if_exists='replace',index=False)

                self.batch_end_date += timedelta(days=3)
                self.batch_start_date += timedelta(days=1)
 
                print(self.batch_start_date)
                c =len(batch1)
                print(c)
                b += c
                print(b)
                
                



            elif (batch1['date_2'].iloc[0]) == 5: #if sat, add weekend to monday and revert startdate to run only 1 day in weekdays

                batch1agg = batch1[['sku_id', 'qty']].groupby(['sku_id'], sort=True).sum()
                print(batch1, '\n')
                print(batch1['date_2'].iloc[-1])
                
                productivity1 = self.workers_df.join(batch1agg, on='sku_id', how='left')  # .set_index('sku_id')
                #print(productivity1.head(), '\n')

                weekend_date = self.batch_start_date + timedelta(days=2)
               
                productivity1['avg_time_add'] = productivity1['avg_time'] + productivity1['qty'] * 1
                workers_productivity1 = productivity1.pivot(index='worker', columns='sku_id', values='avg_time_add')
                batch1.to_csv("batch1"+str(weekend_date.strftime("%Y-%m-%d"))+".csv")
                #workers_productivity1.to_csv("dropzone_workers_productivity"+str(weekend_date.strftime("%Y-%m-%d"))+".csv")
                workers_productivity1.to_sql("dropzone_workers_productivity"+str(weekend_date.strftime("%Y-%m-%d"))+"",engine,if_exists='replace',index=False)
                
                self.batch_end_date += timedelta(days=1)
                self.batch_start_date += timedelta(days=3)
                 
                print(self.batch_start_date)
                c =len(batch1)
                print(c)
                b += c
                print(b)

In [86]:
sku_worker_matrix(10,9,2021) #workers, month,year to generate dropzone_workers_productivity

                  date          batch_date  sku_id  qty  date_2
0  2021-09-01 02:30:22 2021-09-01 08:00:00  AA0085    6       2
1  2021-09-01 02:30:22 2021-09-01 08:00:00  AA0019    8       2
2  2021-09-01 02:30:22 2021-09-01 08:00:00  AA0142    7       2
3  2021-09-01 02:44:22 2021-09-01 08:00:00  AA0186    7       2
4  2021-09-01 02:44:22 2021-09-01 08:00:00  AA0047    7       2
..                 ...                 ...     ...  ...     ...
56 2021-09-01 14:45:22 2021-09-01 15:00:00  AA0098    6       2
57 2021-09-01 14:45:22 2021-09-01 15:00:00  AA0160    7       2
58 2021-09-01 14:45:22 2021-09-01 15:00:00  AA0013    7       2
59 2021-09-01 14:51:22 2021-09-01 15:00:00  AA0009    6       2
60 2021-09-01 14:45:22 2021-09-01 15:00:00  AA0078    7       2

[61 rows x 5 columns]
2
                  date          batch_date  sku_id  qty  date_2
0  2021-09-01 02:30:22 2021-09-01 08:00:00  AA0085    6       2
1  2021-09-01 02:30:22 2021-09-01 08:00:00  AA0019    8       2
2  2021-09-01 02:30:22 2021-09-01 08:00:00  AA0142    7       2
3  2021-09-01 02:44:22 2021-09-01 08:00:00  AA0186    7       2
4  2021-09-01 02:44:22 2021-09-01 08:00:00  AA0047    7       2
..                 ...                 ...     ...  ...     ...
56 2021-09-01 14:45:22 2021-09-01 15:00:00  AA0098    6       2
57 2021-09-01 14:45:22 2021-09-01 15:00:00  AA0160    7       2
58 2021-09-01 14:45:22 2021-09-01 15:00:00  AA0013    7       2
59 2021-09-01 14:51:22 2021-09-01 15:00:00  AA0009    6       2
60 2021-09-01 14:45:22 2021-09-01 15:00:00  AA0078    7       2

[61 rows x 5 columns]

2
2021-09-02 07:00:00
61
                   date          batch_date  sku_id  qty  date_2
61  2021-09-02 03:35:22 2021-09-02 08:00:00  AA0185    8       3
62  2021-09-02 03:35:22 2021-09-02 08:00:00  AA0197    8       3
63  2021-09-02 03:35:22 2021-09-02 08:00:00  AA0049    7       3
64  2021-09-02 06:53:22 2021-09-02 08:00:00  AA0060    8       3
65  2021-09-02 06:53:22 2021-09-02 08:00:00  AA0167    5       3
..                  ...                 ...     ...  ...     ...
243 2021-09-02 14:43:22 2021-09-02 15:00:00  AA0007    7       3
244 2021-09-02 14:43:22 2021-09-02 15:00:00  AA0138    8       3
245 2021-09-02 14:43:22 2021-09-02 15:00:00  AA0146    7       3
246 2021-09-02 14:43:22 2021-09-02 15:00:00  AA0068    5       3
247 2021-09-02 14:43:22 2021-09-02 15:00:00  AA0117    7       3

[187 rows x 5 columns]
3
                   date          batch_date  sku_id  qty  date_2
61  2021-09-02 03:35:22 2021-09-02 08:00:00  AA0185    8       3
62  2021-09-02 03:35:22 2021-09-02 08:00:00  AA0197    8       3
63  2021-09-02 03:35:22 2021-09-02 08:00:00  AA0049    7       3
64  2021-09-02 06:53:22 2021-09-02 08:00:00  AA0060    8       3
65  2021-09-02 06:53:22 2021-09-02 08:00:00  AA0167    5       3
..                  ...                 ...     ...  ...     ...
243 2021-09-02 14:43:22 2021-09-02 15:00:00  AA0007    7       3
244 2021-09-02 14:43:22 2021-09-02 15:00:00  AA0138    8       3
245 2021-09-02 14:43:22 2021-09-02 15:00:00  AA0146    7       3
246 2021-09-02 14:43:22 2021-09-02 15:00:00  AA0068    5       3
247 2021-09-02 14:43:22 2021-09-02 15:00:00  AA0117    7       3

[187 rows x 5 columns]

3
2021-09-03 07:00:00
248
                   date          batch_date  sku_id  qty  date_2
248 2021-09-03 05:44:22 2021-09-03 08:00:00  AA0170    6       4
249 2021-09-03 05:44:22 2021-09-03 08:00:00  AA0033    6       4
250 2021-09-03 05:44:22 2021-09-03 08:00:00  AA0023    7       4
251 2021-09-03 05:44:22 2021-09-03 08:00:00  AA0086    5       4
252 2021-09-03 03:44:22 2021-09-03 08:00:00  AA0066    6       4
..                  ...                 ...     ...  ...     ...
387 2021-09-03 08:18:22 2021-09-03 10:00:00  AA0196    8       4
388 2021-09-03 09:47:22 2021-09-03 10:00:00  AA0159    7       4
389 2021-09-03 13:20:22 2021-09-03 15:00:00  AA0057    6       4
390 2021-09-03 13:20:22 2021-09-03 15:00:00  AA0095    7       4
391 2021-09-03 13:20:22 2021-09-03 15:00:00  AA0034    6       4

[144 rows x 5 columns]
4
                   date          batch_date  sku_id  qty  date_2
248 2021-09-03 05:44:22 2021-09-03 08:00:00  AA0170    6       4
249 2021-09-03 05:44:22 2021-09-03 08:00:00  AA0033    6       4
250 2021-09-03 05:44:22 2021-09-03 08:00:00  AA0023    7       4
251 2021-09-03 05:44:22 2021-09-03 08:00:00  AA0086    5       4
252 2021-09-03 03:44:22 2021-09-03 08:00:00  AA0066    6       4
..                  ...                 ...     ...  ...     ...
387 2021-09-03 08:18:22 2021-09-03 10:00:00  AA0196    8       4
388 2021-09-03 09:47:22 2021-09-03 10:00:00  AA0159    7       4
389 2021-09-03 13:20:22 2021-09-03 15:00:00  AA0057    6       4
390 2021-09-03 13:20:22 2021-09-03 15:00:00  AA0095    7       4
391 2021-09-03 13:20:22 2021-09-03 15:00:00  AA0034    6       4

[144 rows x 5 columns]

4
2021-09-04 07:00:00
144
392
                   date          batch_date  sku_id  qty  date_2
392 2021-09-04 03:43:22 2021-09-04 08:00:00  AA0047    5       5
393 2021-09-04 03:43:22 2021-09-04 08:00:00  AA0122    4       5
394 2021-09-04 03:43:22 2021-09-04 08:00:00  AA0144    6       5
395 2021-09-04 07:40:22 2021-09-04 08:00:00  AA0105    6       5
396 2021-09-04 03:43:22 2021-09-04 08:00:00  AA0136    7       5
..                  ...                 ...     ...  ...     ...
912 2021-09-06 14:05:22 2021-09-06 15:00:00  AA0024    7       0
913 2021-09-06 13:40:22 2021-09-06 15:00:00  AA0081    7       0
914 2021-09-06 13:40:22 2021-09-06 15:00:00  AA0193    6       0
915 2021-09-06 13:40:22 2021-09-06 15:00:00  AA0078    8       0
916 2021-09-06 13:40:22 2021-09-06 15:00:00  AA0115    7       0

[525 rows x 5 columns]
5
                   date          batch_date  sku_id  qty  date_2
392 2021-09-04 03:43:22 2021-09-04 08:00:00  AA0047    5       5
393 2021-09-04 03:43:22 2021-09-04 08:00:00  AA0122    4       5
394 2021-09-04 03:43:22 2021-09-04 08:00:00  AA0144    6       5
395 2021-09-04 07:40:22 2021-09-04 08:00:00  AA0105    6       5
396 2021-09-04 03:43:22 2021-09-04 08:00:00  AA0136    7       5
..                  ...                 ...     ...  ...     ...
912 2021-09-06 14:05:22 2021-09-06 15:00:00  AA0024    7       0
913 2021-09-06 13:40:22 2021-09-06 15:00:00  AA0081    7       0
914 2021-09-06 13:40:22 2021-09-06 15:00:00  AA0193    6       0
915 2021-09-06 13:40:22 2021-09-06 15:00:00  AA0078    8       0
916 2021-09-06 13:40:22 2021-09-06 15:00:00  AA0115    7       0

[525 rows x 5 columns]

0
2021-09-07 07:00:00
525
917
                    date          batch_date  sku_id  qty  date_2
917  2021-09-07 07:45:22 2021-09-07 08:00:00  AA0150    7       1
918  2021-09-07 07:45:22 2021-09-07 08:00:00  AA0127    6       1
919  2021-09-07 07:45:22 2021-09-07 08:00:00  AA0073    7       1
920  2021-09-07 04:51:22 2021-09-07 08:00:00  AA0200    5       1
921  2021-09-06 20:16:22 2021-09-07 08:00:00  AA0126    6       1
...                  ...                 ...     ...  ...     ...
1056 2021-09-07 11:50:22 2021-09-07 13:00:00  AA0128    7       1
1057 2021-09-07 14:39:22 2021-09-07 15:00:00  AA0092    7       1
1058 2021-09-07 14:39:22 2021-09-07 15:00:00  AA0099    7       1
1059 2021-09-07 14:39:22 2021-09-07 15:00:00  AA0181    6       1
1060 2021-09-07 14:39:22 2021-09-07 15:00:00  AA0179    6       1

[144 rows x 5 columns]
1
                    date          batch_date  sku_id  qty  date_2
917  2021-09-07 07:45:22 2021-09-07 08:00:00  AA0150    7       1
918  2021-09-07 07:45:22 2021-09-07 08:00:00  AA0127    6       1
919  2021-09-07 07:45:22 2021-09-07 08:00:00  AA0073    7       1
920  2021-09-07 04:51:22 2021-09-07 08:00:00  AA0200    5       1
921  2021-09-06 20:16:22 2021-09-07 08:00:00  AA0126    6       1
...                  ...                 ...     ...  ...     ...
1056 2021-09-07 11:50:22 2021-09-07 13:00:00  AA0128    7       1
1057 2021-09-07 14:39:22 2021-09-07 15:00:00  AA0092    7       1
1058 2021-09-07 14:39:22 2021-09-07 15:00:00  AA0099    7       1
1059 2021-09-07 14:39:22 2021-09-07 15:00:00  AA0181    6       1
1060 2021-09-07 14:39:22 2021-09-07 15:00:00  AA0179    6       1

[144 rows x 5 columns]

1
2021-09-08 07:00:00
1061
                    date          batch_date  sku_id  qty  date_2
1061 2021-09-08 04:38:22 2021-09-08 08:00:00  AA0109    7       2
1062 2021-09-08 00:03:22 2021-09-08 08:00:00  AA0161    6       2
1063 2021-09-08 04:38:22 2021-09-08 08:00:00  AA0174    7       2
1064 2021-09-08 04:38:22 2021-09-08 08:00:00  AA0007    5       2
1065 2021-09-08 00:03:22 2021-09-08 08:00:00  AA0140    7       2
...                  ...                 ...     ...  ...     ...
1193 2021-09-08 14:52:22 2021-09-08 15:00:00  AA0043    8       2
1194 2021-09-08 14:52:22 2021-09-08 15:00:00  AA0142    6       2
1195 2021-09-08 14:52:22 2021-09-08 15:00:00  AA0079    6       2
1196 2021-09-08 14:52:22 2021-09-08 15:00:00  AA0028    8       2
1197 2021-09-08 14:52:22 2021-09-08 15:00:00  AA0053    5       2

[137 rows x 5 columns]
2
                    date          batch_date  sku_id  qty  date_2
1061 2021-09-08 04:38:22 2021-09-08 08:00:00  AA0109    7       2
1062 2021-09-08 00:03:22 2021-09-08 08:00:00  AA0161    6       2
1063 2021-09-08 04:38:22 2021-09-08 08:00:00  AA0174    7       2
1064 2021-09-08 04:38:22 2021-09-08 08:00:00  AA0007    5       2
1065 2021-09-08 00:03:22 2021-09-08 08:00:00  AA0140    7       2
...                  ...                 ...     ...  ...     ...
1193 2021-09-08 14:52:22 2021-09-08 15:00:00  AA0043    8       2
1194 2021-09-08 14:52:22 2021-09-08 15:00:00  AA0142    6       2
1195 2021-09-08 14:52:22 2021-09-08 15:00:00  AA0079    6       2
1196 2021-09-08 14:52:22 2021-09-08 15:00:00  AA0028    8       2
1197 2021-09-08 14:52:22 2021-09-08 15:00:00  AA0053    5       2

[137 rows x 5 columns]

2
2021-09-09 07:00:00
1198
                    date          batch_date  sku_id  qty  date_2
1198 2021-09-09 01:40:22 2021-09-09 08:00:00  AA0023    6       3
1199 2021-09-09 01:40:22 2021-09-09 08:00:00  AA0026    9       3
1200 2021-09-09 01:40:22 2021-09-09 08:00:00  AA0137    7       3
1201 2021-09-09 02:09:22 2021-09-09 08:00:00  AA0173    5       3
1202 2021-09-09 02:09:22 2021-09-09 08:00:00  AA0085    8       3
...                  ...                 ...     ...  ...     ...
1349 2021-09-09 13:26:22 2021-09-09 15:00:00  AA0051    6       3
1350 2021-09-09 13:26:22 2021-09-09 15:00:00  AA0110    6       3
1351 2021-09-09 13:26:22 2021-09-09 15:00:00  AA0120    6       3
1352 2021-09-09 13:26:22 2021-09-09 15:00:00  AA0148    8       3
1353 2021-09-09 14:35:22 2021-09-09 15:00:00  AA0187    8       3

[156 rows x 5 columns]
3
                    date          batch_date  sku_id  qty  date_2
1198 2021-09-09 01:40:22 2021-09-09 08:00:00  AA0023    6       3
1199 2021-09-09 01:40:22 2021-09-09 08:00:00  AA0026    9       3
1200 2021-09-09 01:40:22 2021-09-09 08:00:00  AA0137    7       3
1201 2021-09-09 02:09:22 2021-09-09 08:00:00  AA0173    5       3
1202 2021-09-09 02:09:22 2021-09-09 08:00:00  AA0085    8       3
...                  ...                 ...     ...  ...     ...
1349 2021-09-09 13:26:22 2021-09-09 15:00:00  AA0051    6       3
1350 2021-09-09 13:26:22 2021-09-09 15:00:00  AA0110    6       3
1351 2021-09-09 13:26:22 2021-09-09 15:00:00  AA0120    6       3
1352 2021-09-09 13:26:22 2021-09-09 15:00:00  AA0148    8       3
1353 2021-09-09 14:35:22 2021-09-09 15:00:00  AA0187    8       3

[156 rows x 5 columns]

3
2021-09-10 07:00:00
1354
                    date          batch_date  sku_id  qty  date_2
1354 2021-09-10 00:05:22 2021-09-10 08:00:00  AA0133    6       4
1355 2021-09-10 04:23:22 2021-09-10 08:00:00  AA0106    6       4
1356 2021-09-09 20:55:22 2021-09-10 08:00:00  AA0077    6       4
1357 2021-09-10 00:05:22 2021-09-10 08:00:00  AA0060    6       4
1358 2021-09-10 00:05:22 2021-09-10 08:00:00  AA0159    6       4
...                  ...                 ...     ...  ...     ...
1471 2021-09-10 14:30:22 2021-09-10 15:00:00  AA0034    6       4
1472 2021-09-10 14:46:22 2021-09-10 15:00:00  AA0057    6       4
1473 2021-09-10 14:30:22 2021-09-10 15:00:00  AA0079    7       4
1474 2021-09-10 14:30:22 2021-09-10 15:00:00  AA0077    7       4
1475 2021-09-10 14:46:22 2021-09-10 15:00:00  AA0118    5       4

[122 rows x 5 columns]
4
                    date          batch_date  sku_id  qty  date_2
1354 2021-09-10 00:05:22 2021-09-10 08:00:00  AA0133    6       4
1355 2021-09-10 04:23:22 2021-09-10 08:00:00  AA0106    6       4
1356 2021-09-09 20:55:22 2021-09-10 08:00:00  AA0077    6       4
1357 2021-09-10 00:05:22 2021-09-10 08:00:00  AA0060    6       4
1358 2021-09-10 00:05:22 2021-09-10 08:00:00  AA0159    6       4
...                  ...                 ...     ...  ...     ...
1471 2021-09-10 14:30:22 2021-09-10 15:00:00  AA0034    6       4
1472 2021-09-10 14:46:22 2021-09-10 15:00:00  AA0057    6       4
1473 2021-09-10 14:30:22 2021-09-10 15:00:00  AA0079    7       4
1474 2021-09-10 14:30:22 2021-09-10 15:00:00  AA0077    7       4
1475 2021-09-10 14:46:22 2021-09-10 15:00:00  AA0118    5       4

[122 rows x 5 columns]

4
2021-09-11 07:00:00
122
1476
                    date          batch_date  sku_id  qty  date_2
1476 2021-09-11 07:07:22 2021-09-11 08:00:00  AA0128    7       5
1477 2021-09-11 07:07:22 2021-09-11 08:00:00  AA0094    7       5
1478 2021-09-11 07:07:22 2021-09-11 08:00:00  AA0041    8       5
1479 2021-09-11 07:07:22 2021-09-11 08:00:00  AA0039    8       5
1480 2021-09-11 06:52:22 2021-09-11 08:00:00  AA0198    6       5
...                  ...                 ...     ...  ...     ...
1882 2021-09-13 11:31:22 2021-09-13 13:00:00  AA0079    7       0
1883 2021-09-13 11:31:22 2021-09-13 13:00:00  AA0049    7       0
1884 2021-09-13 11:31:22 2021-09-13 13:00:00  AA0107    7       0
1885 2021-09-13 11:31:22 2021-09-13 13:00:00  AA0158    6       0
1886 2021-09-13 11:31:22 2021-09-13 13:00:00  AA0104    6       0

[411 rows x 5 columns]
5
                    date          batch_date  sku_id  qty  date_2
1476 2021-09-11 07:07:22 2021-09-11 08:00:00  AA0128    7       5
1477 2021-09-11 07:07:22 2021-09-11 08:00:00  AA0094    7       5
1478 2021-09-11 07:07:22 2021-09-11 08:00:00  AA0041    8       5
1479 2021-09-11 07:07:22 2021-09-11 08:00:00  AA0039    8       5
1480 2021-09-11 06:52:22 2021-09-11 08:00:00  AA0198    6       5
...                  ...                 ...     ...  ...     ...
1882 2021-09-13 11:31:22 2021-09-13 13:00:00  AA0079    7       0
1883 2021-09-13 11:31:22 2021-09-13 13:00:00  AA0049    7       0
1884 2021-09-13 11:31:22 2021-09-13 13:00:00  AA0107    7       0
1885 2021-09-13 11:31:22 2021-09-13 13:00:00  AA0158    6       0
1886 2021-09-13 11:31:22 2021-09-13 13:00:00  AA0104    6       0

[411 rows x 5 columns]

0
2021-09-14 07:00:00
411
1887
                    date          batch_date  sku_id  qty  date_2
1887 2021-09-14 02:07:22 2021-09-14 08:00:00  AA0046    6       1
1888 2021-09-14 02:07:22 2021-09-14 08:00:00  AA0011    7       1
1889 2021-09-14 05:22:22 2021-09-14 08:00:00  AA0012    6       1
1890 2021-09-14 05:22:22 2021-09-14 08:00:00  AA0161    5       1
1891 2021-09-14 04:24:22 2021-09-14 08:00:00  AA0142    7       1
...                  ...                 ...     ...  ...     ...
2031 2021-09-14 13:09:22 2021-09-14 15:00:00  AA0124    6       1
2032 2021-09-14 13:09:22 2021-09-14 15:00:00  AA0010    6       1
2033 2021-09-14 13:09:22 2021-09-14 15:00:00  AA0159    6       1
2034 2021-09-14 13:09:22 2021-09-14 15:00:00  AA0191    7       1
2035 2021-09-14 13:36:22 2021-09-14 15:00:00  AA0139    6       1

[149 rows x 5 columns]
1
                    date          batch_date  sku_id  qty  date_2
1887 2021-09-14 02:07:22 2021-09-14 08:00:00  AA0046    6       1
1888 2021-09-14 02:07:22 2021-09-14 08:00:00  AA0011    7       1
1889 2021-09-14 05:22:22 2021-09-14 08:00:00  AA0012    6       1
1890 2021-09-14 05:22:22 2021-09-14 08:00:00  AA0161    5       1
1891 2021-09-14 04:24:22 2021-09-14 08:00:00  AA0142    7       1
...                  ...                 ...     ...  ...     ...
2031 2021-09-14 13:09:22 2021-09-14 15:00:00  AA0124    6       1
2032 2021-09-14 13:09:22 2021-09-14 15:00:00  AA0010    6       1
2033 2021-09-14 13:09:22 2021-09-14 15:00:00  AA0159    6       1
2034 2021-09-14 13:09:22 2021-09-14 15:00:00  AA0191    7       1
2035 2021-09-14 13:36:22 2021-09-14 15:00:00  AA0139    6       1

[149 rows x 5 columns]

1
2021-09-15 07:00:00
2036
                    date          batch_date  sku_id  qty  date_2
2036 2021-09-14 17:26:22 2021-09-15 08:00:00  AA0007    7       2
2037 2021-09-15 04:58:22 2021-09-15 08:00:00  AA0115    7       2
2038 2021-09-14 18:24:22 2021-09-15 08:00:00  AA0152    7       2
2039 2021-09-15 07:55:22 2021-09-15 08:00:00  AA0110    7       2
2040 2021-09-15 02:14:22 2021-09-15 08:00:00  AA0098    6       2
...                  ...                 ...     ...  ...     ...
2181 2021-09-15 14:22:22 2021-09-15 15:00:00  AA0042    9       2
2182 2021-09-15 14:08:22 2021-09-15 15:00:00  AA0096    6       2
2183 2021-09-15 14:08:22 2021-09-15 15:00:00  AA0012    7       2
2184 2021-09-15 14:08:22 2021-09-15 15:00:00  AA0065    6       2
2185 2021-09-15 14:22:22 2021-09-15 15:00:00  AA0037    6       2

[150 rows x 5 columns]
2
                    date          batch_date  sku_id  qty  date_2
2036 2021-09-14 17:26:22 2021-09-15 08:00:00  AA0007    7       2
2037 2021-09-15 04:58:22 2021-09-15 08:00:00  AA0115    7       2
2038 2021-09-14 18:24:22 2021-09-15 08:00:00  AA0152    7       2
2039 2021-09-15 07:55:22 2021-09-15 08:00:00  AA0110    7       2
2040 2021-09-15 02:14:22 2021-09-15 08:00:00  AA0098    6       2
...                  ...                 ...     ...  ...     ...
2181 2021-09-15 14:22:22 2021-09-15 15:00:00  AA0042    9       2
2182 2021-09-15 14:08:22 2021-09-15 15:00:00  AA0096    6       2
2183 2021-09-15 14:08:22 2021-09-15 15:00:00  AA0012    7       2
2184 2021-09-15 14:08:22 2021-09-15 15:00:00  AA0065    6       2
2185 2021-09-15 14:22:22 2021-09-15 15:00:00  AA0037    6       2

[150 rows x 5 columns]

2
2021-09-16 07:00:00
2186
                    date          batch_date  sku_id  qty  date_2
2186 2021-09-16 02:17:22 2021-09-16 08:00:00  AA0167    7       3
2187 2021-09-16 02:17:22 2021-09-16 08:00:00  AA0010    7       3
2188 2021-09-16 02:17:22 2021-09-16 08:00:00  AA0101    6       3
2189 2021-09-16 04:48:22 2021-09-16 08:00:00  AA0079    8       3
2190 2021-09-16 04:48:22 2021-09-16 08:00:00  AA0162    7       3
...                  ...                 ...     ...  ...     ...
2303 2021-09-16 12:41:22 2021-09-16 13:00:00  AA0056    7       3
2304 2021-09-16 11:02:22 2021-09-16 13:00:00  AA0194    8       3
2305 2021-09-16 13:25:22 2021-09-16 15:00:00  AA0137    5       3
2306 2021-09-16 13:23:22 2021-09-16 15:00:00  AA0096    5       3
2307 2021-09-16 13:23:22 2021-09-16 15:00:00  AA0112    7       3

[122 rows x 5 columns]
3
                    date          batch_date  sku_id  qty  date_2
2186 2021-09-16 02:17:22 2021-09-16 08:00:00  AA0167    7       3
2187 2021-09-16 02:17:22 2021-09-16 08:00:00  AA0010    7       3
2188 2021-09-16 02:17:22 2021-09-16 08:00:00  AA0101    6       3
2189 2021-09-16 04:48:22 2021-09-16 08:00:00  AA0079    8       3
2190 2021-09-16 04:48:22 2021-09-16 08:00:00  AA0162    7       3
...                  ...                 ...     ...  ...     ...
2303 2021-09-16 12:41:22 2021-09-16 13:00:00  AA0056    7       3
2304 2021-09-16 11:02:22 2021-09-16 13:00:00  AA0194    8       3
2305 2021-09-16 13:25:22 2021-09-16 15:00:00  AA0137    5       3
2306 2021-09-16 13:23:22 2021-09-16 15:00:00  AA0096    5       3
2307 2021-09-16 13:23:22 2021-09-16 15:00:00  AA0112    7       3

[122 rows x 5 columns]

3
2021-09-17 07:00:00
2308
                    date          batch_date  sku_id  qty  date_2
2308 2021-09-17 03:29:22 2021-09-17 08:00:00  AA0052    7       4