In [3]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:BIDA123@localhost/testingopt')

In [18]:


#5, create worker list
from faker import Faker
import pandas as pd
import numpy as np


num_worker = 20

faker = Faker()
Faker.seed(4321)
np.random.seed(1)

df = []
serial=1
for n in range(20):
    df.append({'worker_id': "W" + str(serial).zfill(3), 'name':faker.name()})
    serial+=1

df = pd.DataFrame(df)
df = df[['worker_id','name']]
df['salaryperhr']= np.random.randint(7,14,20) 

df1 = df[:num_worker]

df1
 
# insert one_time fixed table for all workers to postgresql
df1.to_sql('dropzone_workers_all', engine, if_exists='replace',index=False)\
 
#df1.to_sql('dropzone_workers', engine, if_exists='replace',index=False) # insert table to postgresql

In [19]:
df = pd.read_sql('SELECT * FROM dropzone_workers_all', con = engine)

df.head(20)

   worker_id                   name  salaryperhr
0       W001            Jason Brown           12
1       W002            Jacob Stein           10
2       W003             Cody Brown           11
3       W004          Larry Morales            7
4       W005      Jessica Hendricks            8
5       W006            Brian Moore           10
6       W007            Scott Baker           12
7       W008           Ruth Hoffman            7
8       W009          Daniel George            7
9       W010            David Moody            8
10      W011          Brian Maxwell           11
11      W012            Cory Cooper           12
12      W013          Morgan Foster           11
13      W014         James Sandoval           13
14      W015           Brian Lester            8
15      W016             Anne Davis            9
16      W017  Miss Amanda Harris MD           11
17      W018               Amy Dunn           13
18      W019              Brian Lee           12
19      W020         Kimberly Pratt            9

In [25]:
import pandas as pd
import numpy as np

class Summary:
    def __init__(self,no_of_worker):
        
        df = pd.read_sql('SELECT * FROM dropzone_workers_all', con = engine)  
        self.df = df.head(no_of_worker).to_sql("workers_"+str(no_of_worker)+"",engine, if_exists='replace',index=False)
        
        skus = pd.read_sql('SELECT sku_id, standard_time FROM dropzone_sku', con = engine)
        df2 = pd.read_sql('SELECT * FROM workers_'+str(no_of_worker)+'', con = engine) 
        


        sku_list = skus.values.tolist()
        workers_list = df2['worker_id'].to_list()

        productivity = []

        np.random.seed(1)
        for sku, mins in sku_list:
            for worker in workers_list:
                avg_time = int(np.random.normal(mins,3))
                productivity.append({'sku_id': sku, 'worker': worker, 'avg_time': avg_time})

        df = pd.DataFrame(productivity)
        df.to_sql("dropzone_worker_"+str(no_of_worker)+"_sku_proficiency", engine, if_exists='replace', index=False)
        print(df)

In [26]:
 Summary(10)


# df5 = pd.DataFrame(f5)
# print(df5)
# df5.to_csv("12345679.csv")

      sku_id worker  avg_time
0     AA0001   W001        41
1     AA0001   W002        35
2     AA0001   W003        35
3     AA0001   W004        33
4     AA0001   W005        39
...      ...    ...       ...
1995  AA0200   W006        35
1996  AA0200   W007        36
1997  AA0200   W008        32
1998  AA0200   W009        36
1999  AA0200   W010        39

[2000 rows x 3 columns]

In [9]:
from datetime import date, timedelta, datetime
import pandas as pd
import numpy as np
import csv
import random
import calendar
from random import randrange


class generate_date:
    def __init__(self,year,month) :


        self.sdate = datetime(year, month, 1, 0, 1, 22)   # start date
        self.edate = datetime(year, month + 1, 1, 0, 1, 22) - timedelta(days=1)  # end date
        date_modified = self.sdate
        date_in_mth = [self.sdate.strftime("%d/%m/%Y %H:%M:%S")]
        #skus = pd.read_csv('dropzone_sku.csv')
        skus = pd.read_sql('SELECT sku_id FROM dropzone_sku', con = engine)
        ssku = set(skus['sku_id'])
        month_name = calendar.month_name[month]
        # print(self.sdate)
        # print(self.edate)
        while date_modified < self.edate:
            date_modified += timedelta(days=1) 
            date_in_mth.append(date_modified.strftime("%d/%m/%Y %H:%M:%S"))

    # print(date_in_mth, '\n')

    # create orders for each day in month base on Poisson Distribution

            nr_order_daily_list = [np.random.poisson(27) for i in range(30)]

        # print(nr_order_daily_list, '\n')


            order_table = pd.DataFrame(columns = ['date', 'order_id', 'sku_id', 'qty'])
        order_id = 1

        for d, k in zip(date_in_mth, nr_order_daily_list): # k = total orders per day
            #print(d, k)
            for m in range(k):      # each loop will create list of SKUs per order
                nr_sku_per_order = np.random.poisson(5)
                order_sku_list = random.sample(ssku, nr_sku_per_order)
                order_date = datetime.strptime(d, "%d/%m/%Y %H:%M:%S") + \
                timedelta(hours=randrange(24)) + timedelta(minutes=randrange(60))
                for sku in order_sku_list:      # each loop will create qty (pcs) per sku 
                    nr_pcs_per_sku = int(np.random.normal(7,1))     # average 7 pcs per sku, std dev = 1
                    order_table = order_table.append({'date': order_date, \
                    'order_id': 'SO'+str(order_id).zfill(5), 'sku_id': sku, 'qty': nr_pcs_per_sku}, \
                        ignore_index=True)
                    order_id +=1

        # print(order_table)
        # print(month_name)
        #order_table.to_sql("dropzone_order_"+month_name+"_"+str(year)+"",engine,if_exists='replace',index=False)
        

        # Create batch_zone_order 
        #df = pd.read_sql("SELECT * FROM dropzone_order_"+month_name+"_"+str(year)+"", con = engine)

        order_table['date'] = pd.to_datetime(order_table['date'],format="%Y-%m-%d")
        order_table['date_hour'] = pd.DatetimeIndex(order_table['date']).hour


        #create a list of condition for batching
        roundingtime = [
        (order_table['date_hour'] >= 0) & (order_table['date_hour'] < 8 ),
        (order_table['date_hour'] >= 15) & (order_table['date_hour'] < 24 ),
        (order_table['date_hour'] >= 8) & (order_table['date_hour'] < 10 ),
        (order_table['date_hour'] >= 10 ) & (order_table['date_hour'] < 13 ),
        (order_table['date_hour'] >= 13) & (order_table['date_hour'] < 15 )
        ]

        values =[8, 8, 10, 13, 15]
         
        order_table['timestamp'] = np.select(roundingtime,values)

        #create a list of condition for next day 

        nextday = [
        (order_table['date_hour'] >= 15) & (order_table['date_hour'] < 24 ),
        (order_table['date_hour'] >= 0) & (order_table['date_hour'] < 15 )
        ]

        date = [order_table['date'].dt.date + timedelta(days=1),order_table['date'].dt.date]
        order_table['date_1'] = np.select(nextday,date)


        # combine date and time
        order_table['batch_date'] = pd.to_datetime(order_table.date_1) + order_table.timestamp.astype('timedelta64[h]')
        order_table['batch_date'] = pd.to_datetime(order_table['batch_date'], format='%Y-%m-%d %H:%M:%S')
        order_table.sort_values(by=['batch_date'],inplace =True)
        # order_table.reset_index(drop=True, inplace=True)
        # order_table['task_id'] = 1 + order_table.index


        order_table = order_table.drop(['timestamp','date_1','date_hour'], axis=1)
        print(order_table)
        #order_table.to_csv("dropzone_batch_order_table.csv")
        order_table.to_sql("dropzone_batch_order_"+str(month)+'_'+str(year)+"",engine,if_exists='replace',index=False)

        print(month_name, str(year)+ " done")

In [27]:
generate_date(2021,6)

                    date order_id  sku_id qty          batch_date
0    2021-06-01 02:27:22  SO00001  AA0152   6 2021-06-01 08:00:00
70   2021-06-01 00:36:22  SO00071  AA0056   6 2021-06-01 08:00:00
69   2021-06-01 00:36:22  SO00070  AA0167   7 2021-06-01 08:00:00
68   2021-06-01 00:36:22  SO00069  AA0046   8 2021-06-01 08:00:00
181  2021-06-01 03:25:22  SO00182  AA0013   7 2021-06-01 08:00:00
...                  ...      ...     ...  ..                 ...
3895 2021-06-30 20:17:22  SO03896  AA0193   7 2021-07-01 08:00:00
3894 2021-06-30 20:17:22  SO03895  AA0046   5 2021-07-01 08:00:00
3893 2021-06-30 20:17:22  SO03894  AA0172   7 2021-07-01 08:00:00
3820 2021-06-30 22:54:22  SO03821  AA0122   7 2021-07-01 08:00:00
3826 2021-06-30 22:54:22  SO03827  AA0150   7 2021-07-01 08:00:00

[3958 rows x 5 columns]
June 2021 done

In [42]:
class sku_worker_matrix:
    def __init__(self,no_of_worker,month,year) :

        
        # breakdown total month orders into daily batches 
        # create sku-worker matrix for optimisation assignment


        #workers_df = pd.read_csv("dropzone_worker_sku_proficiency.csv") 
        self.workers_df = pd.read_sql("SELECT * from dropzone_worker_"+str(no_of_worker)+"_sku_proficiency", con = engine)
        #print(self.workers_df.head(), '\n')

        self.batch_df = pd.read_sql('SELECT date, batch_date, sku_id, qty from dropzone_batch_order_'+str(month)+'_'+str(year)+'', con = engine)
        #print(self.batch_df.head(), '\n')

        self.batch_df['date_2'] = pd.DatetimeIndex(self.batch_df['batch_date']).dayofweek
        a=len(self.batch_df)
        self.batch_start_date = datetime(year, month, 1, 8, 0, 0)   # start date
        self.batch_end_date = datetime(year, month, 2 , 8, 0, 0)   # end date
        print(a)
        print(self.batch_start_date)
        print(self.batch_end_date)
        print(self.batch_start_date.strftime("%Y-%m-%d"))
        b = 0
        c = 0 
        d = 0

        while b < a:  
            batch1 = self.batch_df.loc[(self.batch_df['batch_date'] >= self.batch_start_date) & (self.batch_df['batch_date'] < self.batch_end_date) ]
            #print(batch1)
        
        
            if (batch1['date_2'].iloc[-1]) == 1 or (batch1['date_2'].iloc[-1]) == 2 or (batch1['date_2'].iloc[-1]) == 3 or (batch1['date_2'].iloc[-1]) == 0  :
            

                #if (batch1['date_2'].iloc[-1]) == 1

                batch1agg = batch1[['sku_id', 'qty']].groupby(['sku_id'], sort=True).sum()
                print(batch1, '\n')
                print(batch1['date_2'].iloc[-1])
   
                productivity1 = self.workers_df.join(batch1agg, on='sku_id', how='left')  # .set_index('sku_id')
                print(productivity1, '\n')

                # productivity1['avg_time_add'] = productivity1['avg_time'] + productivity1['qty'] * 1
                workers_productivity1 = productivity1.pivot(index='worker', columns='sku_id', values='avg_time_add')
                self.batch_start_date += timedelta(days=1)
                self.batch_end_date += timedelta(days=1)
                #print(workers_productivity1)
                # print(batch_start_date.weekday())
                print(self.batch_start_date)
                c =len(batch1)
                #workers_productivity1.to_csv("dropzone_workers_productivity"+str(self.batch_start_date.strftime("%Y-%m-%d"))+".csv")
                print(c)
                b += c
                d += 1
                print(b)
                print('yes'+str(d))
            #print(workers_productivity1, '\n')

    
            elif (batch1['date_2'].iloc[-1]) == 4 :

     
                batch1agg = batch1[['sku_id', 'qty']].groupby(['sku_id'], sort=True).sum()
                print(batch1, '\n')
                print(batch1['date_2'].iloc[-1])
            
                productivity1 = self.workers_df.join(batch1agg, on='sku_id', how='left')  # .set_index('sku_id')
                #print(productivity1.head(), '\n')

                productivity1['avg_time_add'] = productivity1['avg_time'] + productivity1['qty'] * 1
                #workers_productivity1 = productivity1.pivot(index='worker', columns='sku_id', values='avg_time_add')
                self.batch_end_date += timedelta(days=3)
                self.batch_start_date += timedelta(days=1)
                #print(workers_productivity1)
                # print(batch_start_date.weekday())
                print(self.batch_start_date)
                c =len(batch1)
                print(c)
                b += c
                print(b)
                #workers_productivity1.to_csv("dropzone_workers_productivity"+str(self.batch_start_date.strftime("%Y-%m-%d"))+".csv")
                d += 1



            # elif (batch1['date_2'].iloc[0]) == 5:

            #     batch1agg = batch1[['sku_id', 'qty']].groupby(['sku_id'], sort=True).sum()
            #     print(batch1, '\n')
            #     print(batch1['date_2'].iloc[-1])
            
            #     productivity1 = self.workers_df.join(batch1agg, on='sku_id', how='left')  # .set_index('sku_id')
            #     #print(productivity1.head(), '\n')

            #     productivity1['avg_time_add'] = productivity1['avg_time'] + productivity1['qty'] * 1
            #     #workers_productivity1 = productivity1.pivot(index='worker', columns='sku_id', values='avg_time_add')
            #     self.batch_end_date += datetime.timedelta(days=1)
            #     self.batch_start_date += datetime.timedelta(days=3)
            #     #print(workers_productivity1)
            #     # print(batch_start_date.weekday())
            #     print(self.batch_start_date)
            #     c =len(batch1)
            #     print(c)
            #     b += c
            #     print(b)
            #     #workers_productivity1.to_csv("dropzone_workers_productivity"+str(self.batch_start_date.strftime("%Y-%m-%d"))+".csv")
            #     d += 1

In [43]:
sku_worker_matrix(5,6,2021)

3958
2021-06-01 08:00:00
2021-06-02 08:00:00
2021-06-01
                   date          batch_date  sku_id  qty  date_2
0   2021-06-01 02:27:22 2021-06-01 08:00:00  AA0152    6       1
1   2021-06-01 00:36:22 2021-06-01 08:00:00  AA0056    6       1
2   2021-06-01 00:36:22 2021-06-01 08:00:00  AA0167    7       1
3   2021-06-01 00:36:22 2021-06-01 08:00:00  AA0046    8       1
4   2021-06-01 03:25:22 2021-06-01 08:00:00  AA0013    7       1
..                  ...                 ...     ...  ...     ...
106 2021-06-01 13:20:22 2021-06-01 15:00:00  AA0198    6       1
107 2021-06-01 13:20:22 2021-06-01 15:00:00  AA0069    6       1
108 2021-06-01 13:20:22 2021-06-01 15:00:00  AA0199    5       1
109 2021-06-01 13:20:22 2021-06-01 15:00:00  AA0143    6       1
110 2021-06-01 13:20:22 2021-06-01 15:00:00  AA0047    7       1

[111 rows x 5 columns]

1
     sku_id worker  avg_time  qty
0    AA0001   W001        41  NaN
1    AA0001   W002        35  NaN
2    AA0001   W003        35  NaN
3    AA0001   W004        33  NaN
4    AA0001   W005        39  NaN
..      ...    ...       ...  ...
995  AA0200   W001        34  NaN
996  AA0200   W002        28  NaN
997  AA0200   W003        34  NaN
998  AA0200   W004        36  NaN
999  AA0200   W005        34  NaN

[1000 rows x 4 columns]

KeyError: 'avg_time_add'